<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AVATARBOOKING </title>
    <link  th:href="@{/css/bootstrap1.min.css}" rel="stylesheet">
    <link  th:href="@{/css/font-awesome.min1.css}" rel="stylesheet">
    <link  th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    <link  th:href="@{/css/main.css}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" th:href="@{/image/ico/favicon.ico}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/image/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/image/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/image/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/image/ico/apple-touch-icon-57-precomposed.png}">
    <style type="">
    	
        .gapp{
        	color:DodgerBlue
        }
    	.gapre{

    		padding: 10px;
  			
  			
  		text-align: justify;
    	}
    	.AVATARBOOKING{
    		font-size:50px;

    	}



    </style>
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
        	 
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="AVATARBOOKING" th:href="@{/HomeApp}"><span>Avatar</span>Booking</a>
                    
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                        
                        <li><a href="#portfolio">Présentation</a></li>
                        <li><a href="#services">Services</a></li>
                        
                        
                        <li><a href="#contact">Contact</a></li>
                          
							
                        
                    </ul >
                    
                         
                </div>
                
            </div>
            
        </div>
    </header><!--/#header-->

    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Avatar Booking </h1>
                        <p class="lead">Permet de se déplacer virtuellement dans l’espace et de faire accomplir des tâches à distance par un Avatar <br>Téléchargez-le maintenant gratuitement</p>
                         
                          <form th:action="@{/login}" method="GET">
				<div>
				
						<center><button class="btn btn-md btn-primary " type="Submit">Connecter</button></center>
					</div>
					<br>
					<div >
				
						<center><button class="btn btn-md btn-primary " type="Submit">Inscription</button></center>
					</div>
				</form>	
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Avatar</h1>
                        <p class="lead">Au niveau de cette solution l’avatar est une personne bien réelle qui prend en charge de réaliser cer-tains services à l’utilisateur de notre solution Avatar Booking. <br></p>
                  
                          <form th:action="@{/login}" method="GET">
				<div>
				
						<center><button class="btn btn-md btn-primary " type="Submit">Connecter</button></center>
					</div>
					<br>
					<div >
				
						<center><button class="btn btn-md btn-primary " type="Submit">Inscription</button></center>
					</div>
				</form>	
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->


    <section id="portfolio">
        <div class="container">
            <div class="box">
                <div class="gapre">
                    <h2 class="gapp">Solution Envisagée</h2>
                    <p class="lead">Dans un monde moderne ou le facteur temps joue un très grand rôle, ou le temps c’est de l’argent. L’être humain contemporain essaye avec tous les moyens de profiter au maximum de son temps pour en tirer le plus grand bénéfice. 

					La solution Avatar Booking, permet de se déplacer virtuellement dans l’espace et de faire accomplir des tâches à distance par un Avatar (Wiki :incarnations- en infirmatique : Un avatar est un personnage représentant un utilisateur sur Internet) 

					Au niveau de cette solution l’avatar est une personne bien réelle qui prend en charge de réaliser cer-tains services à l’utilisateur de notre solution Avatar Booking. 
					L’utilisateur pourra choisir son avatar selon la ville ou il réside et son profile. Une fois la relation est établie et acceptée par les deux parties, l’avatar aura pour mission pendant la durée de temps com-mandée par l’utilisateur de réaliser les services demandés par l’utilisateur. 
					</p>
                   
            	</div><!--/.box-->
            	<div id="team-scroller" class="carousel scale">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="/image/res2.jpg" alt="" ></p>
                                        
                                        <h3>Agnes Smith</h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="/image/res4.png" alt="" ></p>
                                        <h3>Donald Ford</h3>
                                    </div>
                                </div>        
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="/image/res7.jpg" alt="" ></p>
                                        <h3>Charles Erickson</h3>
                                    </div>
                                </div>
                                 
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="/image/team3.jpg" alt="" /></p>
                                        <h3>David Robbins</h3>
                                    </div>
                                </div>   
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="/image/team1.jpg" alt="" /></p>
                                        <h3>Philip Mejia</h3>
                                    </div>
                                </div>     
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="/image/team2.jpg" alt="" /></p>
                                        <h3>Charles Erickson</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left-arrow" href="#team-scroller" data-slide="prev">
                        <i class="icon-angle-left icon-4x"></i>
                    </a>
                    <a class="right-arrow" href="#team-scroller" data-slide="next">
                        <i class="icon-angle-right icon-4x"></i>
                    </a>
                </div>
                <div class="center">
                    
                    <p class="lead">Avatar Booking est composé d’un portail internet sur lequel les utilisateurs et les avatars s’enregistrent et un équipement technique composé d’une caméra,d’un écouteur et d’un micro reliés à une tablette ou à un smartphone qui sera porté par l’ « Avatar » ainsi qu’une application mobile ( An-droid, Iphone etc.) ..</p>
                </div>

        </div><!--/.container-->
    </section><!--/#portfolio-->







    <section id="services">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                           
                           <img src="/image/noun_1.png"   alt="Responsive image">
                            <h4>GAGNEZ DU TEMPS</h4>
                            <p>Synchronisation automatique des calendriers de disponibilités.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        


                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                           <img src="/image/noun_2.png"   alt="Responsive image">
                            <h4>ACCÈS FACILE</h4>
                            <p>Toutes les réservations et toutes les informations sur tous les dispositifs.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <img src="/image/noun_3.png"   alt="Responsive image">
                            <h4>MEILLEURE VUE D’ENSEMBLE</h4>
                            <p>Analyse complète des données et traitement simple.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        

                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <img src="/image/noun_4.png"   alt="Responsive image">
                            <h4> AUGMENTEZ VOS PROFITS</h4>
                            <p>Plus de portails signifie une plus grande couverture et plus de réservations.</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

    

   

    

    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Formulaire de contact</h1>
                        
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Nom et Prenom">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="A ddressEmail ">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-lg">envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                        <h1>Address</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                    
                                </address>
                            </div>
                        </div>
                        <h1>Connecte-toi avec nous</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                    <li><a href="#"><i class="icon-google-plus icon-social"></i> Google Plus</a></li>
                                    <li><a href="#"><i class="icon-pinterest icon-social"></i> Pinterest</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-linkedin icon-social"></i> Linkedin</a></li>
                                    <li><a href="#"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                                    <li><a href="#"><i class="icon-youtube icon-social"></i> Youtube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap1.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>