<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AVATAR-BOOKING</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/datepicker3.css}" rel="stylesheet">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Avatar</span>Booking</a>
				
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Username</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<div class="form-group">
				<th:block th:each="persone : ${adminName}">
		<tr>
										   <h2  th:text="${persone.username}"></h2></tr>
		</th:block>
				
			</div>
		<ul class="nav menu">
			<li><a th:href="@{'/admin/HomeAdmin'}"><em class="glyphicon glyphicon-home">&nbsp;</em> Home</a></li>
			<li ><a th:href="@{'/admin/avatarAdmin'}"><em class="glyphicon glyphicon-user">&nbsp;</em> Avatar</a></li>
			<li ><a th:href="@{'/admin/userAdmin'}"><em class=" glyphicon glyphicon-user">&nbsp;</em> User</a></li>
			<li class="active"><a th:href="@{'/admin/bookingAdmin'}"><em class="glyphicon glyphicon-file">&nbsp;</em> Booking</a></li>
			<li><a href="https://myaccount.google.com/"><em class="glyphicon glyphicon-envelope">&nbsp;</em> Email</a></li>
			
			
			<li><a th:href="@{'/login'}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Booking</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<center><h1 class="page-header">BOOKING</h1></center>
			</div>
		</div><!--/.row-->
				
				<div class="row">
							<div class="col-md-1">

							</div>

					<div class="col-md-10">

		    		<table class="table table-striped">
								  <thead class="thead-dark">
								    <tr>
								      <th scope="col">#</th>
								      <th scope="col">ID_avatar</th>
								      <th scope="col">ID_user</th>
								      <th scope="col">Dated</th>
								      <th scope="col">Duration</th>
								    </tr>
								  </thead>
								  <tbody>
								  	
								  </tbody>

						
					</table>
					</div>

		    </div>
		
		
			<div class="col-sm-12">
				<p class="back-link">Application By <a href="https://www.xtend.com">Xtend</a></p>
			</div>
		</div><!-- /.row -->
	</div><!--/.main-->
	
<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/chart.min.js"></script>
	<script src="/js/chart-data.js"></script>
	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/custom.js"></script>
	
</body>
</html>
