<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AVATAR-BOOKING</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/datepicker3.css}" rel="stylesheet">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" th:href="@{'/HomeApp'}"><span>Avatar</span>Booking</a>
					
				<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em ><img src="/image/user.png"   alt="Responsive image"></em>
					</a>
						<ul class="dropdown-menu dropdown-users">
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
									<a th:href="@{'/admin/MyProfile'}"><img src="/image/user (1).png"   alt="Responsive image">My Profile</a>
										
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
										<a th:href="@{'/admin/changepass'}"><img src="/image/key.png"   alt="Responsive image">Change Password</a>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
										<a th:href="@{'/login'}"><img src="/image/logout.png"   alt="Responsive image">Sign out</a>
									</div>
								</div>
							</li>
						</ul>
					</li>
				
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Username</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<div class="form-group">
				
				
			</div>
		<ul class="nav menu">
			<li><a th:href="@{'/admin/HomeAdmin'}"><em class="glyphicon glyphicon-home">&nbsp;</em> Home</a></li>
			<li ><a th:href="@{'/admin/avatarAdmin'}"><em class="glyphicon glyphicon-user">&nbsp;</em> Avatar</a></li>
			<li ><a th:href="@{'/admin/userAdmin'}"><em class=" glyphicon glyphicon-user">&nbsp;</em> User</a></li>
			<li class="active"><a th:href="@{'/admin/bookingAdmin'}"><em class="glyphicon glyphicon-file">&nbsp;</em> Booking</a></li>
			<li><a href="https://myaccount.google.com/"><em class="glyphicon glyphicon-envelope">&nbsp;</em> Email</a></li>
			<li><a th:href="@{'/admin/addAdmin'}"><i class="fa  fa-user-plus" aria-hidden="true">&nbsp;</i>Add Admin</a></li>
			
			<li><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Change Password</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
				
				<div class="col-md-2">	</div>
		<div class="col-md-8">
			<div class="panel panel-blue">
					<div class="panel-heading dark-overlay"><center>Change Password</center></div>
					<div class="panel-body">
						
						<div class="alert alert-danger" role="alert" th:if="${param.error}">
					    The password is incorrect!
					 	</div>
						<form role="form" onclick="formValidation()" method="get" action="/admin/changepass">
								<div class="form-group">
									<label>Current Password</label>
									<input type="password" class="form-control" >
								</div>
								<div class="form-group">
									<label>New Password</label>
									<input id="passid" class="form-control" name="password" >
							  
                                </div>		
                                         
								
								<div class="form-group">
									<label>Confirm New Password</label>
									<input  name="passid1"  id="passid1" type="password"class="form-control" >
								</div>
								
								<button type="submit" class="btn btn-md btn-success">Save</button><button  type="rest" class="btn btn-md btn-default" >Rest</button>
						</form>				
					</div>
				</div>

	</div>	
		
		</div><!--/.row-->
				
			
		
			
		</div><!-- /.row -->
	
	
<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/chart.min.js"></script>
	<script src="/js/chart-data.js"></script>
	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/custom.js"></script>
	
</body>
</html>
