<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AVATAR - BOOKING</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/datepicker3.css}" rel="stylesheet">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->


<style type="text/css">
	#map {
        width: 100%;
        height: 325px;
        
        

    
   th {
  background-color: #4CAF50;
  color: white;
}
}
</style>

</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" th:href="@{'/HomeApp'}"><span>Avatar</span>Booking</a>
				
					
				<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em ><img src="/image/user.png"   alt="Responsive image"></em>
					</a>
						<ul class="dropdown-menu dropdown-users">
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
									<a th:href="@{'/admin/MyProfile'}"><img src="/image/user (1).png"   alt="Responsive image">My Profile</a>
										
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
										<a th:href="@{'/admin/changepass'}"><img src="/image/key.png"   alt="Responsive image">Change Password</a>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
										<a th:href="@{'/logout'}"><img src="/image/logout.png"   alt="Responsive image">Sign out</a>
									</div>
								</div>
							</li>
						</ul>
					</li>
				
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>


	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">ADMIN</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		
		<div class="form-group">
				
				
			</div>
		
		
		<ul class="nav menu">
			<li class="active"><a th:href="@{'/admin/HomeAdmin'}"><em class="glyphicon glyphicon-home">&nbsp;</em> Home</a></li>
			<li><a th:href="@{'/admin/avatarAdmin'}"><em class="glyphicon glyphicon-user">&nbsp;</em> Avatar</a></li>
			<li><a th:href="@{'/admin/userAdmin'}"><em class=" glyphicon glyphicon-user">&nbsp;</em> User</a></li>
			<li><a th:href="@{'/admin/bookingAdmin'}"><em class="glyphicon glyphicon-file">&nbsp;</em> Booking</a></li>
			<li><a href="https://myaccount.google.com/"><em class="glyphicon glyphicon-envelope">&nbsp;</em> Email</a></li>
		<li><a th:href="@{'/admin/addAdmin'}"><i class="fa  fa-user-plus" aria-hidden="true">&nbsp;</i>Add Admin</a></li>
			
			<li><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-12 col-sm-offset-3 col-lg-10  col-lg-offset-2 main">
	<br><br>
	<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">AVATAR
						<span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
					<form  th:object="${lists}">
					<table>
					
						  <tr>
						      <th><img  th:src="@{${'/img/'+lists.avatarimage}}"  class="img-rounded" style="width:200px;height:200"/></th>
						     <td ></td>
						    </tr>
						    
					</table><br><br>
					<table>
					  <tr>
					  		<th><img src="/image/man-user (1).png"   alt="Responsive image"></th>
					  		<td><h4 th:text="${lists.avatarname}"></h4></td>
					  
					  </tr>
					  <tr>
					  		<th><img src="/image/opened-email-envelope (1).png"   alt="Responsive image"></th>
					  		<td><h4 th:text="${lists.emailavatar}"></h4></td>
					  
					  </tr>
					  <tr>
					  		<th><img src="/image/telephone (1).png"   alt="Responsive image"></th>
					  		<td><h4 th:text="${lists.avatarphone}"></h4></td>
					  
					  </tr>
					  <tr>
					  		<th><img src="/image/flag.png"   alt="Responsive image"></th>
					  		<td><h4 th:text="${lists.avatarcountry}"></h4></td>
					  
					  </tr>
					  <tr>
					  		<th><img src="/image/home-address.png"   alt="Responsive image"></th>
					  		<td><h4 th:text="${lists.avatarcity}"></h4></td>
					  
					  </tr>
					
					
					</table> 
				 
					</form>
					</div>
				</div>
				<center>    <a class="btn btn-success" th:href="@{'/admin/bookingAdmin'}">Back</a> </center>
			</div>
			<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">USER
						<span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
					<form  th:object="${lists}">
					<table>
					
						  <tr>
						      <th><img  th:src="@{${'/img/'+lists.userimage}}"  class="img-rounded" style="width:200px;height:200"/></th>
						     <td ></td>
						    </tr>
						    
					</table><br><br>
					<table>
					  <tr>
					  		<th><img src="/image/man-user.png"   alt="Responsive image"></th>
					  		<td><h4 th:text="${lists.username}"></h4></td>
					  
					  </tr>
					  <tr>
					  		<th><img src="/image/opened-email-envelope.png"   alt="Responsive image"></th>
					  		<td><h4 th:text="${lists.emailuser}"></h4></td>
					  
					  </tr>
					  <tr>
					  		<th><img src="/image/telephone.png"   alt="Responsive image"></th>
					  		<td><h4 th:text="${lists.userphone}"></h4></td>
					  
					  </tr>
					  <tr>
					  		<th><img src="/image/flag (1).png"   alt="Responsive image"></th>
					  		<td><h4 th:text="${lists.usercountry}"></h4></td>
					  
					  </tr>
					  <tr>
					  		<th><img src="/image/home-addresss.png"   alt="Responsive image"></th>
					  		<td><h4 th:text="${lists.usercity}"></h4></td>
					  
					  </tr>
					
					
					</table> 
				 
					</form>
					</div>
				</div>
				 <center>    <a class="btn btn-primary" th:href="@{'/admin/bookingAdmin'}">Back</a> </center>
			</div>
   </div>

		<!--/.main-->
	
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/chart.min.js"></script>
	<script src="/js/chart-data.js"></script>
	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/custom.js"></script>
                              <!--key=YOUR_API_KEY& -->



	
		
</body>

</html>