<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AVATAR - BOOKING</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/datepicker3.css}" rel="stylesheet">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	


<style>

/* Style the container for inputs */

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 10px;
  margin-top: 5px;
}

#message p {
  padding: 7px 25px;
  font-size: 12px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
</style>


</head>
<body onload="document.registration.userid.focus();">		

	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" th:href="@{'/HomeApp'}"><span>Avatar</span>Booking</a>



					<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-bell"></em><span class="label label-danger" th:text="${countnotif}"></span>
					</a>
						<ul class="dropdown-menu dropdown-alerts">
							
							<th:block th:each="persone : ${confirmer}">
							<tr>
							<li>
							
							
							<a th:href="@{'/user/ConfirmeBooking'}">
								<div><em class="fa fa-check-square"></em></em><strong  th:text="${msgnoti}"> </strong> 
									<span class="pull-right text-muted small">3 mins ago</span>
								</div>
							</a>
							
							
							</li>
							</tr>
							 </th:block>
							
							<li class="divider"></li>
							<li><a href="#">
								<div><em class="fa fa-window-close"></em></strong> <strong  th:text="${msgnoti1}"></strong>
									<span class="pull-right text-muted small">4 mins ago</span></div>
							</a></li>
							<li class="divider"></li>
							<li>
								<div class="all-button"><a th:href="@{'/user/ConfirmeBooking'}">
									<em class="fa fa-inbox"></em> <strong>All Notifications</strong>
								</a></div>
							</li>
						</ul>
					</li>
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em ><img src="/image/user.png"   alt="Responsive image"></em>
					</a>
						<ul class="dropdown-menu dropdown-users">
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
									<a th:href="@{'/user/MyProfile'}"><img src="/image/user (1).png"   alt="Responsive image">My Profile</a>
										
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
										<a th:href="@{'/user/ChangePasse'}"><img src="/image/key.png"   alt="Responsive image">Change Password</a>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
										<a href="/logout"><img src="/image/logout.png"   alt="Responsive image">Sign out</a>
									</div>
								</div>
							</li>
						</ul>
					</li>
					
				</ul>

	
			</div>
		</div><!-- /.container-fluid -->
	</nav>


	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"><span th:text="${username}" ></span></div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		

		
		
		<ul class="nav menu">
			<li class="active"><a th:href="@{'/user/userHome'}"><em class="glyphicon glyphicon-home">&nbsp;</em> Home</a></li>
			
			
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Booking <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" th:href="@{'/user/bookingUser'}">
						<img src="/image/checkmark-for-verification.png"   alt="Responsive image">&nbsp; Booking Accepted 
					</a></li>
					<li><a class="" th:href="@{'/user/BookingPending'}">
						<img src="/image/hourglass.png"   alt="Responsive image">&nbsp; Booking Pending
					</a></li>
					<li><a class="" th:href="@{'/user/Bookinghistorical'}">
						<img src="/image/medical-report.png"   alt="Responsive image">&nbsp; historical 
					</a></li>
				<!-- 	<li><a class="" th:href="@{'/user/cancellationUser'}">
							<img src="/image/cancel.png"   alt="Responsive image">&nbsp; Cancellation
					</a></li>  -->
				</ul>
			
			</li>
			 
			<li >  <a th:href="@{'/ProfileSettingsUser/'}"><em class="glyphicon glyphicon-wrench">&nbsp;</em> Profile Settings</a></li>
			
			<li><a href="https://myaccount.google.com/"><em class="glyphicon glyphicon-envelope">&nbsp;</em> Email</a></li>
			
			
			<li><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Change Password</li>
			</ol>
		</div><!--/.row-->
		
		<br>
		
		

	<div class="row">
		<div class="col-md-2">	</div>
		<div class="col-md-8">
			<div class="panel panel-blue">
					<div class="panel-heading dark-overlay"><center>Change Password</center></div>
					<div class="panel-body">
						
						<div class="alert alert-danger" role="alert" th:if="${param.error}">
					    The password is incorrect!
					 	</div>
						<form role="form" onclick="formValidation()" method="get" action="/user/ChangePasse">
								<div class="form-group">
									<label>Current Password</label>
									<input type="password" class="form-control" >
								</div>
								<div class="form-group">
									<label>New Password</label>
									<input id="passid" class="form-control" name="password" >
								
								
                                  <div class="col-md-3">
                 						<div class="form-control-feedback">
						                         <span class="text-danger align-middle" >
						                         </span>
							                 </div>
							             </div>
                                   
                                    
                                    
                                </div>		
                                <div id="message" >
 
													 
													  <center><h7 >Password must contain the following:</h7>
													  
													  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
													  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
													  <p id="number" class="invalid">A <b>number</b></p>
													  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
													</center>
								</div>               
								
								<div class="form-group">
									<label>Confirm New Password</label>
									<input  name="passid1"  id="passid1" type="password"class="form-control" >
								</div>
								
								<button type="submit" class="btn btn-md btn-success">Save</button><button  type="rest" class="btn btn-md btn-default" >Rest</button>
						</form>				
					</div>
				</div>

	</div>


	</div>	<!--/.main-->
	
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/chart.min.js"></script>
	<script src="/js/chart-data.js"></script>
	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/custom.js"></script>
    <script type="text/javascript">
    function formValidation()
    {var passi = document.registration.passid;
    var passi1 = document.registration.passid1;
    if(password_validation(passi))
    {
    if (confirmer_password())
    {
    }
    }
    
    return false ;
    }
    
    function password_validation(passi)
    {var pass=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/
    var b=pass.test(document.registration.passid.value)
    if(b==false)
    	{
    	alert("Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters");
    	document.registration.passid.focus();
    	return false;
    	}
    else
    	{return true;}
    }


    function confirmer_password()
    {
    	var passi = document.registration.passid;
    	var passi1 = document.registration.passid1;
    	if (passi1!=0||passi==passi1)
    		  { 
    		  return true;
    		 }
    	  else{
    		  alert("confirm your password ");
    			 passid1.focus();
    	  return false;
    		 
    		}
    }
    
    </script>



	
		
</body>
</html>
