<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AVATAR - BOOKING</title>
	<link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link  th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
	<link  th:href="@{/css/datepicker3.css}" rel="stylesheet">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/search.js"></script>


<style type="text/css">
	
        #titleUSer{
    
        font-size:250%;
        
        text-align:center;
        }
        
</style>
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" th:href="@{'/HomeApp'}"><span>Avatar</span>Booking</a>



					<ul class="nav navbar-top-links navbar-right">
					
					
					
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-bell"></em><span class="label label-danger" th:text="${countnotif}"></span>
					</a>
						<ul class="dropdown-menu dropdown-alerts">
							<th:block th:each="persone : ${confirmer}">
							<tr>
							<li>
							
							
							<a th:href="@{'/user/ConfirmeBooking'}">
								<div><img src="/image/confirm.png"   alt="Responsive image"><strong  th:text="${msgnoti}"> </strong> 
									<span class="pull-right text-muted small">3 mins ago</span>
								</div>
							</a>
							
							
							</li>
							</tr>
							 </th:block>
							
							<li class="divider"></li>
							<li><a href="#">
								<div><img src="/image/close.png"   alt="Responsive image"></strong> <strong  th:text="${msgnoti1}"></strong>
									<span class="pull-right text-muted small">4 mins ago</span></div>
							</a></li>
							
						</ul>
					</li>
					
					
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em ><img src="/image/user.png"   alt="Responsive image"></em>
					</a>
						<ul class="dropdown-menu dropdown-users">
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
									<a th:href="@{'/user/MyProfile'}"><img src="/image/user (1).png"   alt="Responsive image">My Profile</a>
										
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
										<a th:href="@{'/user/ChangePasse'}"><img src="/image/key.png"   alt="Responsive image">Change Password</a>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
										<a href="/logout"><img src="/image/logout.png"   alt="Responsive image">Sign out</a>
									</div>
								</div>
							</li>
						</ul>
					</li>
					
		
		</ul>



				
				
			</div>
		</div><!-- /.container-fluid -->
	</nav>


	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"><span th:text="${username}" ></span></div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<div class="form-group">
				
				
			</div>
		
		

		<ul class="nav menu">
			<li class="active"><a th:href="@{'/user/userHome'}"><em class="glyphicon glyphicon-home">&nbsp;</em> Home</a></li>
		
			
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Booking <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" th:href="@{'/user/bookingUser'}">
						<img src="/image/checkmark-for-verification.png"   alt="Responsive image">&nbsp; Booking Accepted 
					</a></li>
					<li><a class="" th:href="@{'/user/BookingPending'}">
						<img src="/image/hourglass.png"   alt="Responsive image">&nbsp; Booking Pending
					</a></li>
					<li><a class="" th:href="@{'/user/Bookinghistorical'}">
						<img src="/image/medical-report.png"   alt="Responsive image">&nbsp; historical 
					</a></li>
				<!-- 	<li><a class="" th:href="@{'/user/cancellationUser'}">
							<img src="/image/cancel.png"   alt="Responsive image">&nbsp; Cancellation
					</a></li> -->
				</ul>
			
			</li>
			
			
			
			
			
			 <th:block th:each="user : ${user}"></th:block>
			<li>  <a th:href="@{'/ProfileSettingsUser/'}"><em class="glyphicon glyphicon-wrench">&nbsp;</em> Profile Settings</a></li>
			
			<li><a href="https://myaccount.google.com/"><em class="glyphicon glyphicon-envelope">&nbsp;</em> Email</a></li>
			
			
			<li><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Confirm Bookings</li>
			</ol>
		</div><!--/.row-->
		
		<br>
	
		
		

	<div class="row">
	<th:block th:each="booking : ${confirmer}">
	<tr>
				<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">Pay now to confirm your reservation
						<span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span>
					</div>
					<br>
					<br>	
					<div class="panel-body">
					<br>
					 
						<div class="col-md-6">
						<img th:src="@{${'/img/'+booking.userimage}}"  class="img-rounded" style="width:150px";/><br><br>
						<i class="fa fa-user" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.username}"></strong><br>
						<i class="fa fa-envelope" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.emailuser}"></strong><br>
						<i class="fa fa-phone-square" aria-hidden="true" style="color:#0080ff"></i> <strong th:text="${booking.userphone}"></strong><br>
						<i class="fa fa-globe" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.usercountry}"></strong><br>
						<i class="fa fa-map-marker" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.usercity}"></strong><br>
						</div>
						
						<div class="col-md-6">
						<img th:src="@{${'/img/'+booking.avatarimage}}"   style="width:150px";/><br><br>
						<i class="fa fa-user" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.avatarname}"></strong><br>
						<i class="fa fa-envelope" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.emailavatar}"></strong><br>
						<i class="fa fa-phone-square" aria-hidden="true" style="color:#0080ff"></i> <strong th:text="${booking.avatarphone}"></strong><br>
						<i class="fa fa-globe" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.avatarcountry}"></strong><br>
						<i class="fa fa-map-marker" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.avatarcity}"></strong><br><br>
						</div>
						
						<div class="divider"></div>  
						<div class="col-md-4"></div>
						<div class="col-md-4">
						<i class="fa fa-calendar" aria-hidden="true"style="color:#0080ff"></i><strong th:text="${booking.date}"></strong><br>
						<i class="fa fa-hourglass-start" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.starttime}"></strong><br>
						<i class="fa fa-hourglass-end" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.endtime}"></strong><br>
						<i class="fa fa-commenting" aria-hidden="true" style="color:#0080ff"></i><strong th:text="${booking.description}"></strong><br><br> <br>
						</div>
						
						</div>
						
						<div class="col-md-3"></div>
						<div >
						<a   class="btn btn-sm btn-primary" th:href="@{/View}"><span   aria-hidden="true">UPDATE</span></a>
										       
						 <a  class="btn btn-sm btn-success" th:href="@{/delete}"><span   aria-hidden="true">TO CONFIRM</span></a>
										        
												   
						<a class="btn btn-sm btn-danger"><span  aria-hidden="true">CANCEL</span></a><br>
						<br>
						
						</div>
						 
						
						
						
					
				</div>
			</div>
		
	</tr>
</th:block>
	

	</div>	<!--/.main-->
	</div>
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/chart.min.js"></script>
	<script src="/js/chart-data.js"></script>
	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/custom.js"></script>




	
		
</body>
</html>