<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AVATAR - BOOKING</title>
	<link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link  th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
	<link  th:href="@{/css/datepicker3.css}" rel="stylesheet">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/search.js"></script>


<style type="text/css">
	
        #titleUSer{
        color:#00BFFF;
        font-size:250%;
        font-family:verdana;
        text-align:center;
        }
        
</style>
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" th:href="@{'/HomeApp'}"><span>Avatar</span>Booking</a>



						<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-bell"></em><span class="label label-danger" th:text="${countnotif}"></span>
					</a>
						<ul class="dropdown-menu dropdown-alerts">
							
							<th:block th:each="persone : ${confirmer}">
							<tr>
							<li>
							
							
							<a th:href="@{'/user/ConfirmeBooking'}">
								<div><em class="fa fa-check-square"></em></em><strong  th:text="${msgnoti}"> </strong> 
									<span class="pull-right text-muted small">3 mins ago</span>
								</div>
							</a>
							
							
							</li>
							</tr>
							 </th:block>
							
							<li class="divider"></li>
							<li><a href="#">
								<div><em class="fa fa-window-close"></em></strong> <strong  th:text="${msgnoti1}"></strong>
									<span class="pull-right text-muted small">4 mins ago</span></div>
							</a></li>
							<li class="divider"></li>
							<li>
								<div class="all-button"><a th:href="@{'/user/ConfirmeBooking'}">
									<em class="fa fa-inbox"></em> <strong>All Notifications</strong>
								</a></div>
							</li>
						</ul>
					</li>
			
					
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em ><img src="/image/user.png"   alt="Responsive image"></em>
					</a>
						<ul class="dropdown-menu dropdown-users">
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
									<a th:href="@{'/user/MyProfile'}"><img src="/image/user (1).png"   alt="Responsive image">My Profile</a>
										
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
										<a th:href="@{'/user/ChangePasse'}"><img src="/image/key.png"   alt="Responsive image">Change Password</a>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									
									</a>
									<div >
										<a href="/logout"><img src="/image/logout.png"   alt="Responsive image">Sign out</a>
									</div>
								</div>
							</li>
						</ul>
					</li>
					
		
		</ul>
</div>
		</div><!-- /.container-fluid -->
	</nav>


	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"><span th:text="${username}" ></span></div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<div class="form-group">
				
				
			</div>
		
		

		<ul class="nav menu">
			<li class="active"><a th:href="@{'/user/userHome'}"><em class="glyphicon glyphicon-home">&nbsp;</em> Home</a></li>
			
			
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Booking <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" th:href="@{'/user/bookingUser'}">
						<img src="/image/checkmark-for-verification.png"   alt="Responsive image">&nbsp; Booking Accepted 
					</a></li>
					<li><a class="" th:href="@{'/user/BookingPending'}">
						<img src="/image/hourglass.png"   alt="Responsive image">&nbsp; Booking Pending
					</a></li>
					<li><a class="" th:href="@{'/user/Bookinghistorical'}">
						<img src="/image/medical-report.png"   alt="Responsive image">&nbsp; historical 
					</a></li>
				<!-- 	<li><a class="" th:href="@{'/user/cancellationUser'}">
							<img src="/image/cancel.png"   alt="Responsive image">&nbsp; Cancellation
					</a></li> -->
				</ul>
			
			</li>
			
			<li>  <a th:href="@{'/ProfileSettingsUser/'}"><em class="glyphicon glyphicon-wrench">&nbsp;</em> Profile Settings</a></li>
			
			<li><a href="https://myaccount.google.com/"><em class="glyphicon glyphicon-envelope">&nbsp;</em> Email</a></li>
			
			
			<li><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Booking form</li>
			</ol>
		</div><!--/.row-->
		
		
	
	<div class="row">
			<div class="row">
					
					<div class="col-md-5 col-sm-offset-2 col-lg-7 " >
				
						<form method="post" action="/user/BookingPending" th:object="${booking}" >
						
						<div style=" visibility: hidden;">
                <input type="text"  th:field="*{id}"  th:value="${booking.id}"> 
                </div>
              									 
						
						
						
							<div class="form-group">
								
									<div class="panel panel-info">
												<div class="panel-heading">Booking form </div>
												<div class="panel-body">
													
													<strong>	Date of reservation</strong><input type="date"  class="form-control" name="date"><br><br>
														
														<div class="col-md-4">
														<div class="form-group">
										<label>Start Time</label>
										<select name="starttime"  class="form-control">
											<option value="1 AM" >1 AM</option>
											<option value="2 AM">2 AM</option>
											<option>3 AM</option>
											<option>4 AM</option>
											<option>5 AM</option>
											<option>6 AM</option>
											<option>7 AM</option>
											<option>8 AM</option>
											<option>9 AM</option>
											<option>10 AM</option>
											<option>11 AM</option>
											<option>12 AM</option>
											<option>1 PM</option>
											<option>2 PM</option>
											<option>3 PM</option>
											<option>4 PM</option>
											<option>5 PM</option>
											<option>6 PM</option>
											<option>7 PM</option>
											<option>8 PM</option>
											<option>9 PM</option>
											<option>10 PM</option>
											<option>11 PM</option>
											<option>12 PM</option>
											
											
										</select>
									</div></div>
												
												<div class="col-lg-4 col-sm-offset-4">
												<div class="form-group">
													
											<label>End Time</label>
											 <select name="endtime" class="form-control">
											<option value="1 AM" >1 AM</option>
											<option value="2 AM" >2 AM</option>
											<option>3 AM</option>
											<option>4 AM</option>
											<option>5 AM</option>
											<option>6 AM</option>
											<option>7 AM</option>
											<option>8 AM</option>
											<option>9 AM</option>
											<option>10 AM</option>
											<option>11 AM</option>
											<option>12 AM</option>
											<option>1 PM</option>
											<option>2 PM</option>
											<option>3 PM</option>
											<option>4 PM</option>
											<option>5 PM</option>
											<option>6 PM</option>
											<option>7 PM</option>
											<option>8 PM</option>
											<option>9 PM</option>
											<option>10 PM</option>
											<option>11 PM</option>
											<option>12 PM</option>
										</select><br><br>
													</div></div><br>
												<strong>	Description of Mission</strong><input type="text" class="form-control" name="description" >														
												</div>
											</div>
								   </div>
							<button type="rest" class="btn btn-md btn-primary">Rest</button><button type="submit" class="btn btn-success btn-circle"> Make a Reservation</button>
						
						<div style=" visibility: hidden;">
												Avatar <input type="text"  class="form-control"   th:value="${booking.username}" name="avatarname">
												Email Avatar <input type="email"  class="form-control"   th:value="${booking.email}" name="emailavatar">
												image Avatar <input type="text"  class="form-control"   th:value="${booking.image}" name="avatarimage">
									country Avatar <input type="text"  class="form-control"   th:value="${booking.country}" name="avatarcountry">
												
												city Avatar <input type="text"  class="form-control"   th:value="${booking.city}" name="avatarcity">
												phone Avatar <input type="text"  class="form-control"   th:value="${booking.numtel}" name="avatarphone"><br><br>
									
													</div>
						</form>
		
		</div>			
	</div>	
	
	
</div>	<!--/.main-->


	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/chart.min.js"></script>
	<script src="/js/chart-data.js"></script>
	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/custom.js"></script>




	
		
</body>
</html>